doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Docker <3 CI/CD
  body
    .header
      h1.page-title Docker <3 CI/CD

    ul.nav
      li: a(href='/') Trust
      li: a(href='#news') Scanning
      li: a(href='#about') Webhooks
      li: a(href='#contact') Promotion
    
    .main-content
      block content

    .footer
      p Copyright © 2020 Futurecorpz. Futurecorpz ® is a Registered Trademark of Futures (un)Ltd. in the Mars Community and other solar systems.
